---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="AoC2023">
  <div class="grid-container">
    <h1 class="title">
      Advent of Code <span class="gradient text-8xl">2023</span>
    </h1>
    <div class="puzzle-container">
      <select id="puzzle" class="puzzle-select" aria-label="Select Puzzle">
        <option value="d1p1">Day 1: Trebuchet?!</option>
        <option value="d1p2">Day 1: Trebuchet?! - Part 2</option>
        <option value="d2p1">Day 2: Cube Conundrum</option>
        <option value="d2p2">Day 2: Cube Conundrum - Part 2</option>
        <option value="d3p1">Day 3: Gear Ratios</option>
        <option value="d3p2">Day 3: Gear Ratios - Part 2</option>
      </select>
      <textarea id="input" class="puzzle-input" placeholder="Paste input..."
      ></textarea>
    </div>
    <div id="answer" class="answer-container">
      <p id="answerText" class="gradient text-7xl whitespace-nowrap"></p>
      <p>&lt</p>
    </div>
    <div class="button-container">
      <Button text="Calculate" />
    </div>
  </div>
</Layout>

<style>
  .grid-container {
    @apply grid grid-cols-[2rem_minmax(350px,_3fr)_2rem] grid-rows-4 gap-0 w-full h-full max-w-7xl max-h-[70rem] md:grid-cols-[1fr_1fr_minmax(10px,_1fr)_2fr_8rem] md:grid-rows-5;
  }
  .gradient {
    @apply font-bold bg-clip-text bg-gradient-to-r from-violet-500 to-fuchsia-500 text-transparent;
  }
  .title {
    @apply col-start-2 col-end-3 row-start-1 row-end-2 text-7xl font-bold leading-none text-right m-auto md:col-start-2 md:col-end-3 md:row-start-2 md:row-end-3;
  }
  .puzzle-container {
    @apply col-start-2 col-end-3 row-start-2 row-end-4 flex flex-col gap-12 md:col-start-4 md:col-end-5 md:row-start-2 md:row-end-4;
  }
  .puzzle-select {
    @apply block w-full mt-4 px-2 h-16 bg-[#13151a] border rounded-lg border-gray-50;
  }
  .puzzle-input {
    @apply w-full h-full p-4 bg-[#13151a] placeholder-gray-500 border rounded-lg border-gray-50;
  }
  .answer-container {
    @apply col-start-2 col-end-3 row-start-4 row-end-5 flex items-center justify-end self-center h-20 mt-7 text-5xl font-bold leading-none opacity-0 text-right mr-4 gap-4 md:col-start-3 md:col-end-4 md:row-start-4 md:row-end-5 md:self-start;
  }
  .button-container {
    @apply col-start-2 col-end-3 row-start-4 row-end-5 mt-12 md:col-start-4 md:col-end-5 md:row-start-4 md:row-end-5;
  }
</style>

<script>
  import { solve } from "../solutions/solver";
  import { usePersistedValue } from "../utils/storage";
  import { hide, show } from "../utils/ui";

  const puzzleSelect = document.getElementById("puzzle") as HTMLSelectElement;
  const puzzleInput = document.getElementById("input") as HTMLInputElement;
  const submitButton = document.getElementById("submit") as HTMLButtonElement;
  const answerDiv = document.getElementById("answer") as HTMLDivElement;
  const answerText = document.getElementById(
    "answerText"
  ) as HTMLParagraphElement;

  usePersistedValue("input", "", () => hide(answerDiv));
  usePersistedValue("puzzle", "d1p1", () => hide(answerDiv));

  const handleClick = () => {
    if (puzzleSelect.value && puzzleInput.value) {
      const puzzle = puzzleSelect.value;
      const input = puzzleInput.value.split("\n");
      const answer = solve(puzzle, input);

      answerText.textContent = answer;
      show(answerDiv);
    }
  };

  submitButton?.addEventListener("click", handleClick);
</script>
