---
import Layout from "../layouts/Layout.astro";
---

<Layout title="AoC2023">
  <main
    class="flex flex-col gap-8 m-auto p-4 w-800 max-w-[calc(100%-2rem)] h-screen text-white text.xl leading-relaxed"
  >
    <h1 class="text-7xl font-bold leading-none text-center mt-20">
      Advent of Code <span
        class="bg-gradient-to-r from-violet-500 to-fuchsia-500 bg-clip-text text-transparent"
        >2023</span
      >
    </h1>
    <select
      id="puzzle"
      class="w-1/4 mx-auto px-2 h-10 bg-gray-800 placeholder-gray-200 border rounded-lg border-gray-50"
    >
      <option value="d1p1">Day 1: Trebuchet?!</option>
      <option value="d1p2">Day 1: Trebuchet?! - Part 2</option>
      <option value="d2p1">Day 2: Part 1</option>
    </select>
    <textarea
      id="input"
      placeholder="Paste your input..."
      value=""
      class="block w-1/2 h-3/5 mx-auto p-4 bg-gray-800 placeholder-gray-200 border rounded-lg border-gray-50"
    ></textarea>
    <button
      id="submit"
      class="w-1/4 h-10 mx-auto border rounded-lg border-gray-50">Submit</button
    >
  </main>
</Layout>

<script>
  import { solve } from "../solutions/solver";
  import { usePersistedValue } from "../utils/storage";

  const handleButtonClick = () => {
    const puzzleSelect = document.getElementById(
      "puzzle"
    ) as HTMLSelectElement | null;
    const puzzleInput = document.getElementById("input") as HTMLInputElement;

    if (puzzleSelect && puzzleInput) {
      const puzzle = puzzleSelect.options[puzzleSelect.selectedIndex].value;
      const input = puzzleInput.value.split("\n");
      const answer = solve(puzzle, input);

      console.log(`The solution is ${answer}`);
    }
  };

  usePersistedValue("puzzle", "d1p1");

  const submitButton = document.getElementById("submit");
  submitButton?.addEventListener("click", handleButtonClick);
</script>
