---
import Layout from "../layouts/Layout.astro";
import SelectPuzzle from "../components/SelectPuzzle.astro";
import PuzzleInput from "../components/PuzzleInput.astro";
import Button from "../components/Button.astro";
---

<Layout title="AoC2023">
  <main
    class="flex flex-col gap-8 m-auto p-4 w-800 max-w-[calc(100%-2rem)] h-screen text-white text.xl leading-relaxed"
  >
    <h1 class="text-7xl font-bold leading-none text-center mt-20">
      Advent of Code <span
        class="bg-gradient-to-r from-violet-500 to-fuchsia-500 bg-clip-text text-transparent"
        >2023</span
      >
    </h1>
    <SelectPuzzle />
    <PuzzleInput />
    <Button text="Submit" />
    <div id="answer" class="hidden">
      <p>The answer is:</p><span
        id="answerText"
        class="text-4xl font-bold bg-gradient-to-r from-violet-500 to-fuchsia-500 bg-clip-text text-transparent"
      ></span>
    </div>
  </main>
</Layout>

<script>
  import { solve } from "../solutions/solver";
  import { usePersistedValue } from "../utils/storage";
  import { hide, show } from "../utils/ui";

  const puzzleSelect = document.getElementById("puzzle") as HTMLSelectElement;
  const puzzleInput = document.getElementById("input") as HTMLInputElement;
  const submitButton = document.getElementById("submit") as HTMLButtonElement;
  const answerDiv = document.getElementById("answer") as HTMLDivElement;
  const answerText = document.getElementById("answerText") as HTMLSpanElement;

  usePersistedValue("input", "", () => hide(answerDiv));
  usePersistedValue("puzzle", "d1p1", () => hide(answerDiv));

  const handleClick = () => {
    if (puzzleSelect.value && puzzleInput.value) {
      const puzzle = puzzleSelect.value;
      const input = puzzleInput.value.split("\n");
      const answer = solve(puzzle, input);

      answerText.textContent = answer;
      show(answerDiv);
    }
  };

  submitButton?.addEventListener("click", handleClick);
</script>
