<select
  id="puzzle"
  class="w-1/4 mx-auto px-2 h-10 bg-gray-800 placeholder-gray-200 border rounded-lg border-gray-50"
>
  <option value="d1p1">Day 1: Trebuchet?!</option>
  <option value="d1p2">Day 1: Trebuchet?! - Part 2</option>
  <option value="d2p1">Day 2: Part 1</option>
</select>
